body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.carousel {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  height: auto;
}



.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
